{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>
		{%block title%}{%endblock%}
	</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" type="image/x-icon" href="{%static 'icon.ico'%}">
	<script src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pace-js@latest/pace-theme-default.min.css">
</head>

<body>
	{# Load the tag library #}
	{% load django_bootstrap5 %}

	{# Load CSS and JavaScript #}
	{% bootstrap_css %}
	{% bootstrap_javascript %}


	{% include 'navbar.html' %}

	{# Display django.contrib.messages as Bootstrap alerts #}
	{% bootstrap_messages %}

	{%block content%}{%endblock%}

	{% include 'footer.html' %}
</body>
<style>
	body {
		padding-top: 100px;
		background-image: url("{%static 'lemon.jpg'%}");
	}
</style>

</html>