{%extends "base.html" %}
{%load static%}

{%block title%}
Sending2u--Home
{%endblock%}


{%block content%}
<div class="container py-2">
	{% if user.is_authenticated %}
	<div class="row">
		{%for file in files%}
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<div class="card">
				<div class="card-header">
					{{file.filename}}
				</div>
				<div class="card-body">
					<p class="card-text">
						<span class="badge bg-success">
							Uploaded Time:{{file.created_time}}
						</span>
						<span class="badge bg-warning">
							File Size:{{ file.raw_data.size | filesizeformat }}
						</span>
					</p>
				</div>
				<div class="card-body">
					<a href="{%url 'transport:download' file.id%}" class="btn btn-primary"
						onmousedown="party.confetti(this)">Download🍉</a>
					<a href="{%url 'transport:delete' file.id%}" class="btn btn-danger"
						onmousedown="party.confetti(this)">Delete🍊</a>
				</div>
			</div>
		</div>
		{%endfor%}
	</div>
	{%else%}
	<div class="card mt-5">
		<div class="card-header">
			Tips💡
		</div>
		<div class="card-body">
			<p class="card-text">You are not logged in,you have to logging in so that you can download file or upload
				file.</p>
			<a href="{%url 'account:signin'%}" class="btn btn-primary">login🍉</a>
			<a href="{%url 'account:signup'%}" class="btn btn-primary">signup🍊</a>
		</div>
	</div>
	{%endif%}
</div>
{%endblock%}